<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} play ground!
  </h1>
</div>
<h2>First button toggle a div using ngxCacheIf directive.</h2>
<h2>Second button toggle a div using legacy ngIf directive.</h2>
<p>
  Each button triggers a view with content displayed for 5 seconds from the ngOnInit lifecycle event.<br />
  The first button will toggle a div with content cached. The test case aim to show how the content is rendered only once using ngxCacheIf. If you click multiple time you won't see the ngOnInit message.<br />
  If you click multiple times on the ngIf legacy button the element is rendered each time we click on the button. There is no cache of the previously rendered component. So each time you will see the ngOnInit message.
</p>
<ul>
  <li>
    <button (click)="toggleCachedContent()">Toggle ngxCacheIf</button>
  </li>
  <li>
    <button (click)="toggleIfContent()">Toggle ngIf</button>
  </li>
</ul>

<app-view *ngxCacheIf="hideCache" title="ngCacheIf"></app-view>
<app-view *ngIf="hideIf" title="ngIf legacy"></app-view>
